footer
    .footer__logo
        a(href="#") LOGO

    .footer__links
        a(href="#") Over ons
        a(href="#") Contact
        a(href="#") Algemene Voorwaarden

    .footer__social_media
        a(href="https://instagram.com").social_media__link
            <i class="fab fa-instagram"></i> Instagram
        a(href="https://twitter.com").social_media__link 
            <i class="fab fa-twitter"></i> Twitter
        a(href="https://facebook.com").social_media__link 
            <i class="fab fa-facebook"></i> Facebook

    .footer__newsletter
        p Abonneer op onze nieuwsbrief
        .footer__newsletter_subscribe
            input(type="text" placeholder="E-mail adres" aria-label="email-newsletter")
            button#subscribeBtn OK
    
    .footer__contact
        p.contact__address 
            a(href="https://www.google.com/maps/place/Harste+4-6,+8602+JX+Sneek/@53.0373011,5.6425321,17z/data=!3m1!4b1!4m5!3m4!1s0x47c8ee2a0b02634f:0xbe341ab6053e70ec!8m2!3d53.0373011!4d5.6447208" target="_blank" rel="noreferrer") Harste 4-6, 8602JX Sneek, Friesland
        p.contact__phone 0515 12 34 56
        p.contact__mail 
           a(href="mailto:info@bakey.nl") info@bakey.nl

    .footer__copyright
        p.copyright__text Bakey © 2019

script(src='dist/js/main.js')
