html
    head
        title je moeder Steven
        script(src="dist/js/main.js")
    body
        h2 hi hellosdsajjd
        h1 dshadha
        h1.jeMoederSteven hohohohohoho
        h1#jeMoederJurjen hahahaa
