nav
    div.nav-links
        li
            div.logo 
                a(href="/") LOGO
        li
            a(href="/products.html") Assortiment
        li
            a(href="/order.html") Bestellen
        li
            a(href="#") Over ons
        li
            a(href="#") Locatie
        li
            a(href="#") Contact