nav
    ul.nav-links
        li.nav__links--item
            div.logo 
                a(href="/") LOGO
        li.nav__links--item
            a(href="/products.html") Assortiment
        li.nav__links--item
            a(href="/order.html") Bestellen
        li.nav__links--item
            a(href="#") Over ons
        li.nav__links--item
            a(href="#") Locatie
        li.nav__links--item
            a(href="#") Contact