.order
    .order__form__container
        .form__container
            form
                .form__container__header
                    h1 Bestellen
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia tempora soluta, illum cupiditate alias tenetur, quo amet sed blanditiis libero aut et dolorem optio autem modi iure cum a minus!

                input(type="text" placeholder="Naam" id="name" class="form__container-item")

                input(type="text" placeholder="E-mail" id="name" class="form__container-item")

                input(type="text" placeholder="Adres" id="name" class="form__container-item")

                input(type="text" placeholder="Postcode" id="name" class="form__container-item")

                input(type="text" placeholder="Plaats" id="name" class="form__container-item")

                textarea(name="orderInfo", cols="30", rows="10" placeholder="Bestelling" no-resize)

                button(class="btn btn-primary") Verstuur