//- .loader#loader
//-     .loader__container
//-         .icon__hat
//-             .icon__hat-circle
//-             .icon__hat-circle
//-             .icon__hat-circle
//-             .icon__hat-line
//-             .brand__name
//-                 h1 B
//-                 h1 A
//-                 h1 K
//-                 h1 E
//-                 h1 Y
        