.landing {
    width: 100%;
    height: 92vh;
    background-color: rgba(0,0,0, 0.5);
    
    &_bg {
        background: url('https://images.unsplash.com/photo-1504128668912-f893e6606db6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&w=1920&q=80') no-repeat;
        background-size: cover;
        background-position: 0px -4em;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
    } // Landing Background
    
    &__content {
        height: 100%;
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        .content__products_link {
            position: absolute;
            right: 4em;
            transition: transform .5s ease-out;

            &:hover {
                transform: translateX(2em);
            }
            
            .link {
                text-decoration: none;
                color: #ffffff;
                font-size: 1.5em;
                font-weight: bold;
                text-transform: uppercase;
                
                .fa-arrow-right {
                    margin-left: .5em;
                }
            } // Product Link
        } // Link Products
        
        .special_offer {
            width: 75%;
            height: 40%;
            display: flex;
            flex-direction: row;
            order: 1;
            
            &-image {
                background: url('https://images.unsplash.com/photo-1536534028025-68598ea8af44?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&w=600&q=80') no-repeat;
                background-size: cover;
                background-position: 0px -15em;
                width: 50%;
                height: 100%;
                display: flex;
                align-items: flex-end;
                justify-content: flex-end;

                &__link {
                    color: $white;
                    font-weight: bold;
                    position: relative;
                    right: 2.25em;
                    bottom: 1em;
                } // Special Offer Link

            } // Special Offer Image

            &:nth-of-type(even) {
                
                &-image {
                    justify-content: flex-start;

                    &__link {
                        left: 2.25em;        
                    }
                }
            }
            
            &-content {
                width: 50%;
                height: 100%;
                background-color: #5c4625;
                color: #ffffff;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                
                &__title {
                    font-size: 2.2em;
                    position: relative;
                    left: calc(-50% + (-1.35em + 6em));
                } // Content Title
                
                &__paragraph {
                    width: 80%;
                    position: relative;
                    bottom: 1em;
                } // Content Paragraph
            } // Special Offer Content
        }  // Special Offer
        
        .special_offer:nth-child(2) {
            flex-direction: row-reverse;
            margin-top: 1.25em;
        }  // Reverse Special Offer
    }  // Landing Content
}  // Landing

.container {
    height: 105vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    
    .about_us,
    .location {
        width: 65%;
        height: 45vh;
        box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.12);
    }  // About Us & Location
        
    .about_us__container,
    .location__container {
        position: relative;
        display: flex;
        flex-direction: row;
        height: 100%;
        width: 100%;
    }  // About Us & Location Container
            
    .about_us__container {
        .container__image { 
            width: 50%;
            background: url('https://images.pexels.com/photos/1079020/pexels-photo-1079020.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=800') no-repeat;
            background-size: cover;
        }  // Container Image
    }  // About Us Container
            
    .container__map {
        width: 50%;
        background: url('https://images.unsplash.com/photo-1548345680-f5475ea5df84?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60') no-repeat;
        background-size: cover;
    } // Location Map
            
    .about_us__container .container__content,
    .location__container .container__content {
        width: 50%;
        height: 100%;
        padding: 0 3em 1.15em 3em;
        display: flex;
        flex-direction: column;
        background-color: #5c4625;
        color: $white;
        justify-content: space-evenly;
        
        .content__parapgraph {
            margin: 0 0 1.25em 0;
            width: 92%;
        }  // Content Paragraph

        .content__link {
            color: $white;
            width: 41%;
            background-color: #fff;
            padding: .5em 1em;
            border-radius: 1.5em;
            color: #5c4625;
            transition: background-color .4s ease;
            
            &:hover {
                background-color: #d2a257;
                color: white;
            }  // Button Hover
        }
    }  // About Us & Location Container -> Container Content

    .location__container {
        .container { 
            &__content {

                .content__media_icons {
                    display: flex;
                    width: 18%;
                    justify-content: space-between;
                    
                    .item__link {
                        font-size: 1.2em;
                        color: #e1af60;
                        transition: color 0.4s ease;
                    
                        &:hover {
                            color: $white;
                        }  // Link Hover
                    }  // Item Link
                }  // Media icons
            }  // Content

            &__contact {
                .contact__button {
                    position: absolute;
                    right: 3.5em;
                    bottom: 3em;
                    
                    .button__link {
                        background-color: #fff;
                        padding: .5em 1em;
                        border-radius: 1.5em;
                        color: #5c4625;
                        transition: background-color .4s ease;
                        
                        &:hover {
                            background-color: #d2a257;
                            color: white;
                        }  // Button Hover

                    }  // Button Link
                }  // Contact Button
            }  // Contact
        }  // Location Container -> Container
    }  // Location Container
}  // Container 