$primary: #5C4625;
$secondary: #CA9A4E;
$white: #ffffff;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-display: swap;
}

body {
    background-color: white;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}


