body {
    overflow: hidden;
    
    nav {
        height: 8vh;
        background-color: $primary;
        
        .nav-links {
            height: 100%;
            width: 50%;
            display: flex;
            list-style: none;
            justify-content: space-around;
            align-items: center;
            margin-left: 8%;
            
            a {
                text-decoration: none;
                color: #ffffff;
            }

        }
    }
}